<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midterm.workout30days">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Workout30days">
        <activity
            android:name=".view.MainActivity"
            android:exported="true" />
        <activity
            android:name=".view.ExerciseBreakActivity"
            android:exported="true" />
        <activity
            android:name=".view.ExerciseDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".view.PlayActivity"
            android:exported="true" />
        <activity
            android:name=".view.ExerciseActivity"
            android:exported="true" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>